body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 250, 215);
}
.toDesign {
  display: flex;
}
.night-mode {
  background-color: #000000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin:hover {
  animation: spin 2s linear infinite;
}
.note {
  font-weight: bold;
  color: rgb(83, 149, 255);
  align-items: center;
}

@media (max-width: 767px) {
  .container {
    /* background-color: rgb(255, 250, 215); */

    justify-content: left;
    align-items: center;
    margin: 0px;
    margin-top: 0px;
    padding: 20px;
  }
  .night-mode .container {
    color: #ffffff;
  }
  .left-side-nav {
    height: 50px;
    font-family: "Courier New", Courier, monospace;
    background-color: #5289ff;
    position: relative;
    display: block;
    flex-direction: row;
    /* margin-top: 5px; */
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 0;
  }
  .night-mode .left-side-nav {
    background-color: #333;
    color: #ffffff;
    /* position: fixed; */
    font-family: "Courier New", Courier, monospace;
  }

  .inner-left-side-nav {
    color: rgb(68, 68, 68);
    display: inline-block;
    width: auto;

    border-radius: 5px;
    box-shadow: 3px 3px 0px 0px;
    padding-left: 10px;
    margin: 3px;
    height: 36px;
    background-color: #d9eb81;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 15;
    border-width: 3px;
    border-style: double;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
  }
  .copyright-container {
    padding: 15px;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .container {
    /* background-color: rgb(255, 250, 215); */
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    margin-left: 165px;
    margin-top: 0px;
  }
  .night-mode .container {
    color: #ffffff;
  }
  .left-side-nav {
    font-family: "Courier New", Courier, monospace;
    background-color: #5289ff;
    position: fixed;
    /* margin-top: 5px; */
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 0;
    width: 125px;
    height: 100%;
  }

  .night-mode .left-side-nav {
    background-color: #333;
    color: #ffffff;
    /* position: fixed; */
    font-family: "Courier New", Courier, monospace;
  }

  .inner-left-side-nav {
    color: rgb(68, 68, 68);
    display: block;
    width: 120px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 0px 0px;
    margin-bottom: 10px;
    height: 36px;
    background-color: #d9eb81;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 15;
    border-width: 3px;
    border-style: double;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
  }
  .copyright-container {
    margin-left: 165px;
    margin-bottom: 0px;
    padding: auto;
    background-color: #ecf2ad;
    color: #000000;
  }
}
.night-mode .inner-left-side-nav {
  background-color: #000000;
  border: #ffffff;
  border-radius: 15;
  border-style: double;
  border-width: 3px;
  color: rgb(211, 200, 0);
}

.inner-left-side-nav.active {
  font-weight: bolder;
  border: 0;
  color: red;
  font-size: larger;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #5289ff;
}
.night-mode .inner-left-side-nav.active {
  color: #5289ff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  border: 0cap;
  background-color: #333;
}
.inner-left-side-nav:hover {
  background-color: #d3e600;
}
.night-mode .inner-left-side-nav:hover {
  background-color: #a50000;
}

p {
  margin-top: 20px;
  line-height: 1.5;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
  margin-left: 0%;
  border: 2px solid;
}

td,
th {
  border: 1px solid;
  padding: auto;
  text-align: center;
}

th:hover {
  background-color: rgb(255, 224, 112);
}

.night-mode .copyright-container {
  color: #ffffff;
  background-color: #1e1717;
}

.Google {
  text-emphasis-color: rgb(0, 0, 0);
  text-decoration-color: rgb(0, 0, 0);
  font: bold;
  border: #333;
  background: darkblue;
  border-color: #000000;
  border-style: double;
  color: #ffffff;
  font: italic;
  margin-left: 165px;
}

.NavBar {
  background-color: rgba(0, 106, 255, 0.658);
  height: 80px;
  width: 100%;
  align-items: flex-starts;
  position: relative;
}

.night-mode .NavBar {
  background-color: #240c0c;
}
/* .dayOrNightImg {
  margin-right: 5px;
  padding: 10px;
} */
