.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.left-side-nav {
  margin: 5px;
  padding: 10px;
  background-color: rgb(173, 198, 147);
  height: 500%;
  width: 100px;
  position: absolute;
  border: 5px;
}

.inner-left-side-nav {
  text-align: center;
  height: 23px;
  width: 90%;
  background-color: #61dafb;
  position: relative;
  margin: 10px 5% 10px 5%;
  border-radius: 15px;
  box-shadow: #a03737;
}

.inner-left-side-nav:hover {
  background-color: blue;
}

.container {
  margin-left: 125px;
  margin-right: 25px;
  margin-top: 15px;
  text-align: left;
  background-color: aquamarine;
  background-repeat: repeat-y;
  padding: 10px;
}
.SgToPl {
  margin-right: 50px;
  padding-right: 10px;
  width: 80%;
  display: flex;
}
.MiniSgToPl {
  padding: 10px;
  width: 80px;
  border-radius: 15 px;
  box-shadow: #282c34;
  position: relative;
}
