body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgb(202, 202, 202);
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin-left: 130px;
  margin-top: 0;
}

.left-side-nav {
  background-color: #000000;
  position: fixed;
  padding: 20px;
  width: 90px;
  height: 100%;
}

.inner-left-side-nav {
  display: block;
  width: 90px;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #565656;
  border: none;
  text-align: left;
  cursor: pointer;
  border-radius: 10;
  color: rgb(255, 255, 255);
}

.inner-left-side-nav:hover {
  background-color: #d8d8d8;
}

h4,
h3 {
  color: #333;
}

button {
  background-color: #949494;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

p {
  margin-top: 20px;
  line-height: 1.5;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 0%;
  border: 2px solid;
}

td,
th {
  border: 1px solid;
  padding: auto;
  text-align: center;
}

tr:hover {
  background-color: rgb(184, 147, 11);
}
